@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: #1d4ed8;
}

body::-webkit-scrollbar {
  display: none;
}

.suggestions::-webkit-scrollbar,
.rightsidebar::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}

.suggestions::-webkit-scrollbar-thumb,
.rightsidebar::-webkit-scrollbar-thumb {
  background-color: #93c5fd;
  border-radius: 10px;
}

.btn {
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: 0;
  border: 3px solid red;
  height: 100px;
  width: 100px;
  overflow: hidden;
  background-color: transparent;
}

.btn:hover{
  background-color: rgb(201, 196, 196);
  border:0px
}

.circleCard{
  aspect-ratio: 1;
  height: 15%;
  width: 15%;
}

.circleCard:hover{
  background-color: rgb(201, 196, 196);
}

.success {
  border-color: #04AA6D;
  color: green;
}

.success:hover {
  background-color: #04AA6D;
  color: white;
}

.wrapper{
  max-height: 200px;
  border: 0px solid black;
  overflow-x: auto;
  padding-bottom: 12px;
}

.wrapper .item{
  flex-shrink: 0;
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: 0;
  border: 1px solid rgb(78, 78, 232);
  height: 100px;
  width: 100px;
  background-color: transparent;
  object-fit:cover;
  overflow:hidden;

  
}

.item:hover{
  background-color: #80808080;
  border:0px
}

.wrapper::-webkit-scrollbar{
  width: 1em;
  background: #ddd;
}

.wrapper::-webkit-scrollbar-thumb{
  background-color: #444;
}